.tanitim {
    margin: 0;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#0F6FA7,#03030B);


}
.alt-tanitim{
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.select-option{
    padding: 0.3rem;
    color: rgb(253, 254, 255);
    background: rgb(11,77,118);
    width: 50%;
    margin: 1rem;
}
.km-baslik{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

button{
    background: #0F6FA7;
}